@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.container {
  max-width: 90%;
  margin: 0 auto;
}

.store {
  position: fixed;
  right: 0;
  top: 50%;
  color: white;
  background-color: #f04336;
  border-color: #ffffff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 4px;
  font-size: 2rem;
  z-index: 999999999999;
}

.active {
  background-color: white !important;
}

.active .top-bar {
  display: none;
}

.active .bottom-bar {
  padding-top: 0 !important;
  border-bottom: none !important;
}

.active ul li a {
  color: #adadad !important;
}

nav {
  background: transparent;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: solid 0.5px white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav .top-bar {
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  font-size: 13px;
  line-height: 1;
  z-index: 110;
  padding-top: 1rem;
}

nav .top-bar .container {
  margin-top: 10px;
}

nav .top-bar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px !important;
}

nav .top-bar .container ul li {
  list-style: none;
}

nav .top-bar .container ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
}

nav .top-bar .container ul li a:hover {
  color: #f04336;
}

nav .top-bar .container ul li:nth-of-type(1) {
  padding-right: 1rem;
}

nav .bottom-bar {
  padding-top: 2rem;
}

nav .bottom-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .bottom-bar .container ul {
  width: 100%;
  margin: 0;
}

nav .bottom-bar .container ul:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .bottom-bar .container ul:nth-of-type(2) li {
  padding-right: 3rem;
}

nav .bottom-bar .container ul:nth-of-type(2) li:last-child {
  padding-right: none !important;
}

nav .bottom-bar .container ul li {
  list-style: none;
}

nav .bottom-bar .container ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

nav .bottom-bar .container ul li a img {
  padding-top: .5rem;
}

nav .bottom-bar .container ul li a:hover {
  color: #f04336;
}

header {
  background-image: url("https://pawfriends.qodeinteractive.com/wp-content/uploads/2019/08/h1-rev-img-1.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

header .container {
  padding-top: 2em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container h1 {
  z-index: 9;
  visibility: visible;
  text-align: left;
  line-height: 75px;
  letter-spacing: 0px;
  font-weight: 900;
  font-size: 70px;
  border-color: #8f9093;
  border-style: none;
  margin: 0px;
  padding: 0px;
  color: white;
  white-space: normal;
  width: 645px;
  height: auto;
  font-family: "Nunito", sans-serif;
}

header .container p {
  z-index: 10;
  font-family: "Open Sans";
  visibility: visible;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 19px;
  border-color: #8f9093;
  border-style: none;
  margin: 0px;
  padding: 0px;
  color: white;
  white-space: normal;
  width: 639px;
  height: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

header .container a {
  color: white;
  background-color: #f04336;
  border-color: #ffffff;
  padding: 15px 66px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 4px;
}

section:nth-of-type(1) {
  padding-bottom: 3.5rem;
}

section:nth-of-type(1) .container .title h2 {
  font-size: 50px;
  line-height: 1.1em;
  text-align: center;
  color: #424242;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 1.3rem;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

section:nth-of-type(1) .container .title p {
  color: #8f9093;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

section:nth-of-type(1) .container .grid {
  padding-top: 2rem;
  height: 500px;
  position: relative;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -ms-grid-rows: minmax(auto, auto);
      grid-template-rows: minmax(auto, auto);
  margin: 0 auto;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

section:nth-of-type(1) .container .grid__container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section:nth-of-type(1) .container .grid__container .title {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

section:nth-of-type(1) .container .grid__container .title:hover strong {
  top: -35px;
  opacity: 1;
  color: black;
  border-radius: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

section:nth-of-type(1) .container .grid__container .title strong {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 1;
  display: block;
  position: absolute;
  top: 5px;
  z-index: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 5px 10px;
  background: white;
  color: white;
  font-family: "Nunito", sans-serif;
}

section:nth-of-type(1) .container .grid__container .title strong a {
  color: #f04336;
  text-decoration: none;
  cursor: pointer;
}

section:nth-of-type(1) .container .grid__container .title strong:hover + span {
  background-color: #f04336;
  color: white;
}

section:nth-of-type(1) .container .grid__container .title span {
  z-index: 1;
  background: white;
  padding: 5px 15px;
  color: #f04336;
  font-size: 18px;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

section:nth-of-type(1) .container .grid__container .title span:hover {
  background: #f04336;
  color: white;
}

section:nth-of-type(1) .container .grid__container:nth-child(1) {
  grid-column: span 2;
  grid-row: span 4;
  background-image: url("https://images.unsplash.com/photo-1504826260979-242151ee45b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
  background-position: bottom;
}

section:nth-of-type(1) .container .grid__container:nth-child(2) {
  grid-column: span 2;
  grid-row: span 4;
  background-image: url("https://images.unsplash.com/photo-1574231164645-d6f0e8553590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80");
}

section:nth-of-type(1) .container .grid__container:nth-child(3) {
  grid-column: span 2;
  grid-row: span 4;
  background-image: url("https://images.unsplash.com/photo-1529040274442-815019b0e4fc?ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80");
}

section:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section:nth-of-type(2) .one {
  width: 50%;
  background-color: #ededed;
}

section:nth-of-type(2) .one .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

section:nth-of-type(2) .one .content h3 {
  color: #424242;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  text-align: center;
  word-wrap: break-word;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

section:nth-of-type(2) .one .content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #8f9093;
  font-family: "Open Sans";
  text-align: center;
}

section:nth-of-type(2) .one .content a {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #f04336;
  font-family: "Open Sans";
  text-align: center !important;
  text-decoration: none;
}

section:nth-of-type(2) .two {
  width: 50%;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer .container div {
  width: 33%;
}

footer .container div h5 {
  color: #4a4a4a;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  margin: 0;
}

footer .container div ul {
  padding: 0px;
}

footer .container div ul li {
  list-style: none;
}

footer .container div ul li p {
  color: #8f9093;
  text-align: left;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 34px 0px 0px;
}

footer .container div ul li a {
  color: #8f9093;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Open Sans";
}

footer .container div ul li a:hover {
  color: #f04336;
}

footer .container div .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 1rem;
}

footer .container div .grid a {
  width: calc(33% - 2px);
  height: 85px;
  margin: 1px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer .container div .grid a:hover {
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-transform: scale(0.9) rotate(10deg);
          transform: scale(0.9) rotate(10deg);
}

footer .container div .grid a:nth-of-type(1) {
  background-image: url("https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2001&q=80");
}

footer .container div .grid a:nth-of-type(2) {
  background-image: url("https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

footer .container div .grid a:nth-of-type(3) {
  background-image: url("https://images.unsplash.com/photo-1536612125961-dca53f20363d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

footer .container div .grid a:nth-of-type(4) {
  background-image: url("https://images.unsplash.com/photo-1586326709898-0a344840a314?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

footer .container div .grid a:nth-of-type(5) {
  background-image: url("https://images.unsplash.com/photo-1518794183325-56eed2af11fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
}

footer .container div .grid a:nth-of-type(6) {
  background-image: url("https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */