@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
$color-primary: #080978;
$font-primary: 'Paytone One', sans-serif;
html {
  scroll-behavior: smooth;
}
:root {
  --swiper-theme-color: #bbf243 !important;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.store {
  position: fixed;
  right: 0;
  top: 50%;
  color: white;
  background-color: #ff6663;
  border-color: #ffffff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: $font-primary;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 4px;
  font-size: 2rem;
  z-index: 999999999999;
}
.active {
  z-index: 10000;
  .top-bar {
    display: none;
  }
  background-color: white !important;
  .bottom-bar {
    padding-top: 0 !important;
    border-bottom: none !important;
  }
  ul {
    li {
      a {
        color: #adadad !important;
        font-weight: 100 !important;
      }
    }
  }
}

nav {
  &.active {
    padding: 0;
  }
  background: transparent;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: solid 0.5px white;
  padding-top: 1rem;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
  .top-bar {
    background-color: rgba(white, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    font-size: 13px;
    line-height: 1;
    z-index: 110;
    padding-top: 1rem;
    .container {
      margin-top: 5px;
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0px !important;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
            font-size: 13px;
            font-weight: 100 !important;
            font-family: $font-primary;
            &:hover {
              color: $color-primary;
            }
          }
          &:nth-of-type(1) {
            padding-right: 1rem;
          }
        }
      }
    }
  }
  .bottom-bar {
    padding-top: 2rem;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        width: 100%;
        margin: 0;
        padding-left: 0px;
        &:nth-of-type(2) {
          display: flex;
          align-self: center;
          justify-content: flex-end;
          li {
            padding-right: 3rem;
            &:last-child {
              padding-right: 0px !important;
            }
          }
        }
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: 100 !important;
            font-family: $font-primary;
            img {
              padding-top: 0.5rem;
            }
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
header {
  background-image: url("./assets/bg-vet.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  .container {
    padding-top: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      z-index: 9;
      visibility: visible;
      text-align: left;
      line-height: 75px;
      letter-spacing: 0px;
      font-weight: 900;
      font-size: 53px;
      border-color: rgb(143, 144, 147);
      border-style: none;
      margin: 0px;
      padding: 0px;
      color: white;
      white-space: normal;
      width: 645px;
      height: auto;
      font-family: $font-primary;
    }
    p {
      z-index: 10;
      font-family: "Open Sans";
      visibility: visible;
      text-align: left;
      line-height: 30px;
      letter-spacing: 0px;
      font-weight: 400;
      font-size: 19px;
      border-color: rgb(143, 144, 147);
      border-style: none;
      margin: 0px;
      padding: 0px;
      color: white;
      white-space: normal;
      width: 639px;
      height: auto;
      padding-top: 1.2rem;
      padding-bottom: 1.5rem;
      font-family: "Open Sans", sans-serif;
    }
    a {
      color: white;
      background-color: $color-primary;
      border-color: #ffffff;
      padding: 15px 66px;
      text-decoration: none;
      font-weight: 100 !important;
      font-family: $font-primary;
      border: 1px solid transparent;
      overflow: hidden;
      border-radius: 4px;
    }
  }
}
.swiper-container {
  .swiper-slide {
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-color: rgba(#3e3e3e, 0.2);
    background-blend-mode: lighten;
    h1 {
      font-size: 40px;
      width: 80%;
      text-align: center;
      span {
        transform: translateY(-6px);
        display: inline-block;
        z-index: 1;
        background: $color-primary;
        padding: 5px 15px;
        color: white;
        font-size: 22px;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
        font-family: $font-primary;
        font-size: 1.3rem;
        font-weight: bold;
        transition: all 0.5s ease;
      }
      small {
        font-size: 16px;
      }
    }
    &:nth-child(1) {
      background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/male-cynologist-cop-dog-training-outdoor-owner-with-his-obedient-pet-outside-bloodhound-domestic-animal.jpg");
    }
    &:nth-child(2) {
      background-image: url("https://images.unsplash.com/photo-1587131593450-168211a8c312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
    }
    &:nth-child(3) {
      background-image: url("https://images.unsplash.com/photo-1516734212186-a967f81ad0d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    }
  }
}
section {
  &:nth-of-type(1) {
    padding-bottom: 3.5rem;
    .container {
      .title {
        h2 {
          font-size: 50px;
          line-height: 1.1em;
          text-align: center;
          color: #424242;
          font-weight: bold;
          margin: 0;
          padding: 0;
          padding-top: 2rem;
          padding-bottom: 1.3rem;
          font-family: $font-primary;
          font-weight: 900;
        }
        p {
          color: #8f9093;
          font-size: 19px;
          line-height: 32px;
          text-align: center;
          margin: 0;
          padding: 0;
          font-family: "Open Sans", sans-serif;
        }
      }
      .grid {
        padding-top: 2rem;
        height: 500px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        &__container {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          padding: 20px;
          display: grid;
          place-items: center;
          text-align: center;
          color: white;
          transition: 0.3s;
          border-radius: 6px;
          display: flex;
          align-items: flex-end;
          flex: 1 1 auto;
          transition: 0.5s;
          position:relative;
          &:hover {
            flex: 2 1 auto;
            .info{
              opacity:1;
            }
            .title span {
              background-color: $color-primary;
              color: white;
            }
          }
          .info{
            width: 70%;
            left: 50%;
            position: absolute;
            top: 56%;
            transform: translate(-50%, -60%);
            background: rgba(white, .7);
            padding: 20px;
            color: $color-primary;
            font-family: "Open Sans";
            transition: all 0.5s ease;
            opacity:0;
            font-size:14px;
          }
          .title {
            margin-bottom: 2em;
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            cursor: pointer;
            &:hover {
              strong {
                top: -35px;
                opacity: 1;
                color: black;
                border-radius: 0;
                transform: scale(1);
              }
            }
            strong {
              transition: all 0.5s ease;
              overflow: hidden;
              opacity: 1;
              display: block;
              position: absolute;
              top: 5px;
              z-index: 0;
              transform: scale(0);
              padding: 5px 10px;
              background: white;
              color: white;
              font-family: $font-primary;
              a {
                color: $color-primary;
                text-decoration: none;
                cursor: pointer;
              }
              &:hover {
                & + span {
                  background-color: $color-primary;
                  color: white;
                }
              }
            }
            span {
              z-index: 1;
              background: white;
              padding: 5px 15px;
              color: $color-primary;
              font-size: 18px;
              clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
              font-family: $font-primary;
              font-size: 1.3rem;
              font-weight: bold;
              transition: all 0.5s ease;
              &:hover {
                background: $color-primary;
                color: white;
              }
            }
          }
          &:nth-child(1) {
            margin-right: 10px;
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/male-cynologist-work-with-trained-police-dog-training-outdoor-owner-with-his-obedient-pet-outside-bloodhound-domestic-animal.jpg");
            background-position: center;
          }
          &:nth-child(2) {
            margin-right: 10px;
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/female-groomer-haircut-yorkshire-terrier-on-the-table-for-grooming.jpg");
          }
        }
      }
    }
  }
  &:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    .one {
      width: 50%;
      background-color: #63ADF2;
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        h3 {
          color: white;
          font-family: $font-primary;
          font-weight: 900;
          text-align: center;
          word-wrap: break-word;
          font-size: 40px;
          margin: 0;
          padding: 0;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            color: white;
            font-family: "Open Sans";
            text-align: center;
          }
          a {
            font-size: 15px;
            font-weight: bold;
            line-height: 25px;
            color: $color-primary;
            font-family: "Open Sans";
            text-decoration: none;
          }
        }
      }
    }
    .two {
      width: 50%;
      iframe {
        display: block;
      }
    }
  }
}
footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3rem;
    padding-bottom: 2rem;
    div {
      width: 33%;
      h5 {
        color: #4a4a4a;
        font-weight: 900;
        font-family: $font-primary;
        font-size: 24px;
        margin: 0;
      }
      ul {
        padding: 0px;
        li {
          list-style: none;
          p {
            color: #8f9093;
            text-align: left;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            margin: 34px 0px 0px;
          }
          a {
            color: #8f9093;
            text-decoration: none;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            font-family: "Open Sans";
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
      .grid {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 1rem;
        a {
          width: calc(33% - 2px);
          height: 85px;
          margin: 1px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          &:hover {
            transition: all 0.1s ease;
            transform: scale(0.9) rotate(10deg);
          }
          &:nth-of-type(1) {
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/124113863_280185260008993_5034371682314916075_n.jpg");
          }
          &:nth-of-type(2) {
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/125903330_384794299523887_4333849012597817732_n.jpg");
          }
          &:nth-of-type(3) {
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/125903906_367588660978670_757038341069663980_n.jpg");
          }
          &:nth-of-type(4) {
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/130245685_1141961509535480_8576974919597391627_n.jpg");
          }
          &:nth-of-type(5) {
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/130582816_212389813721198_4385842887100218971_n.jpg");
          }
          &:nth-of-type(6) {
            background-image: url("https://salupro-cdn.s3.eu-west-3.amazonaws.com/130909536_692675521448817_7429468652631943725_n.jpg");
          }
        }
      }
    }
  }
}
body {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 646px) {
  header {
    .container {
      align-items: center !important;
      h1 {
        text-align: center !important;
      }
      p {
        text-align: center !important;
      }
    }
  }
  section {
    &:nth-of-type(1) {
      .container {
        .grid {
          flex-direction: column;
          &__container {
            &:nth-of-type(1) {
              margin-bottom: 10px;
              padding-left: 0px !important;
            }
            &:nth-of-type(2) {
              margin-bottom: 10px;
              padding-left: 0px !important;
            }
          }
        }
      }
    }
    &:nth-of-type(2) {
      flex-direction: column;
      .one {
        width: 100% !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .two {
        width: 100% !important;
      }
    }
  }
  footer {
    .container {
      flex-direction: column;
      div {
        width: 100% !important;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        h5 {
          text-align: center;
        }
      }
    }
  }
}
